@import "hof-theme-govuk";

h1 {
  @include bold-24;
}

.page-header {
  h1 {
    font-size: 1.75em;
  }
}

.form-label-bold {
  @include core-19;
}

#step {
  @include core-16;
  a {
    display: inline-block;
    margin-top: $gutter-half;
    padding-left: 14px;
    border-bottom: $black 1px solid;
    color: $black;
    text-decoration: none;
    background: url("../images/icons/icon-caret-left.png") no-repeat 0 4px;
    @include media(mobile) {
      background-position: 0 1px;
    }
    margin-right: 14px;
  }

  span {
    display: inline-block;
    margin-top: $gutter-half;
    color: $secondary-text-colour;
  }
}

.twitter-typeahead {
  width: 100%;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.form-group label h3 {
  margin-top: 0;
  margin-bottom: 0;
}

table.tenant-details {
  border-top: 1px #aaa solid;
  border-collapse: separate;
  padding: 15px 0;
  th, td {
    border: none;
  }
  th {
    font-weight: 600;
  }
}

table.table-details {
  tbody[data-group='tenants'] {
    display: table;
    margin-bottom: 2em;
    width: 100%;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

ul {
  @extend .text;
  @extend .list;
  @extend .list-bullet;
}

.no-new-line {
  margin-bottom: 0;
}

#checkAnswersForm {
  #checkAnswersTable {
    margin-bottom: 30px;
    th {
      width: 290px;
    }
    td {
      text-transform: capitalize;
    }
  }
  a[href='/documents-check'] {
    margin-left: 20px;
  }
}
