{{<partials-page}}
  {{$page-content}}
    <header class="page-header"> 
      <h1>{{#t}}pages.start.custom-header{{/t}}</h1>
    </header>
    {{#markdown}}start-main{{/markdown}}
    <div class="expanding-info-field">
      <details role="group">
      <summary role="button" aria-expanded="false">What are these?</summary>
      <div class="panel-indent" aria-hidden="true">
        {{#markdown}}start-hidden{{/markdown}}
      </div>
      </details>
    </div>
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        {{#t}}pages.start.notice{{/t}}
      </strong>
    </div>
    {{#input-submit}}start-check{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
